@import "tailwindcss";

:root {
  --background: #f6f7f8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101c22;
    --foreground: #ededed;
    --primary: #13a4ec;
    --label: rgb(209 213 219 / var(--tw-text-opacity, 1));
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Work Sans", sans-serif;
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
    --tw-text-opacity: 1;
    color: var(--primary);
}

.dark\:text-gray-300:is(.dark *) {
    --tw-text-opacity: 1;
    color: var(--label);
}
